.bct-moveInput {

    @extend .bct-cheapBoxDiv;

    .bct-moveInput-instructions {
        margin: 16px 0;
    }

    .bct-moveInput-errorMessage {
        margin: 8px 0;
        @extend .bct-errorMessage;
    }

    input {
        height: 40px;
        width: 80px;
        font-size: 20px;
    }

}
