.bct {
    display: flex;
}

.bct-chessboard {
    min-width: 400px;
    margin: 16px;
}

.bct-info {
    margin: 16px;
}


// globals

.bct-errorMessage {
    color: red;
    font-weight: bold;
    font-size: 20px;
}

.bct-cheapBoxDiv {
    margin: 16px 0;
    padding: 16px;
    border: 1px solid black;
}
