.bct {
    max-width: 1000px;
    margin: 0 auto;
}

.bct-chessboard {
    max-width: 600px;
    margin: 0 auto;
}

.bct-info {
    @extend .bct-cheapBoxDiv;

    .bct-info-input-or {
        display: block;
        text-align: center;
    }
}

@media screen and (min-width: 600px) {
    .bct-info-input {
        display: flex;

        .bct-info-input-or {
            min-width: 48px;
            margin: 200px 16px;
            top: 50%;
        }
    }
}


// globals

.bct-errorMessage {
    color: red;
    font-weight: bold;
    font-size: 20px;
}

.bct-cheapBoxDiv {
    margin: 16px 0;
    padding: 16px;
    border: 1px solid black;
}
