.bct {
    max-width: 1000px;
    margin: 0 auto;
}

.bct-main {
    width: 100%;

    .bct-main-chessboard {
        width: 100%;
    }
    
}

.bct-info {
    @extend .bct-cheapBoxDiv;
}

@media screen and (min-width: 600px) {
    .bct-main {
        display: inline-flex;

        div:last-child {
            width: 300px;
        }
    }
}

// globals

.bct-errorMessage {
    color: red;
    font-weight: bold;
    font-size: 20px;
}

.bct-cheapBoxDiv {
    margin: 16px 16px;
    padding: 16px;
    border: 1px solid black;
}
